<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>xssFilter</filter-name>
        <filter-class>filter.XssFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>xssFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <description>删除订单</description>
        <display-name>删除订单</display-name>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>servlet.DeleteOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>

</web-app>